html, body {
    position:absolute;
    background-color: #4d4d4d;
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    z-index:-2;
}

.sidebar-left, .sidebar-right {
    top:0px;
    height: 100%;
    width: 20vw;
    background-image:url(../media/sidebar.png);
    background-size:cover;
    background-repeat:no-repeat;
    position:fixed;
    z-index:-1;
}

p {
    position:relative;
    margin:0;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: Poetsen One;
}

.sidebar-right {
    right: 0;
    transform:rotate(180deg);
}

a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    z-index:0;
}

.navbar {
    font-size:0;
    top:0;
    margin:0;
    padding:0;
    padding-top:10px;
    overflow-x:auto;
    width:100%;
    height:30vh;
    position:absolute;
    overflow:hidden;
}

.navbar-top {
    display: flex;
    width: 50%;
    height: 15%;
    float: none;
    position: relative;
    top:20%;
    left: 50%;
    border-radius: 100px;
    transform: translate(-50%,-120%);
}

.droplink1, .droplink2, .navlink-left, .navlink-right {
    display: flex;
    justify-content:center;
    line-height:70%;
    transition: background-color .2s ease-in-out;
    margin: auto;
    z-index: 2;
    background-color: #282828;
    height: 100%;
    width: 25%;
    font-size: 5.4vh;
}

.navlink-left {
    border-start-start-radius: 100px;
    border-end-start-radius: 100px;
}

.navlink-right {
    border-end-end-radius: 100px;
    border-start-end-radius: 100px;
}

.droplink1:hover, .droplink2:hover, .navlink-left:hover, .navlink-right:hover {
    background-color: #4d4d4d;
    transition: background-color .4s ease-in-out;
}

.navbutton {
    width:100%;
    height:100%;
    word-wrap:break-word;
    text-align:center;
    font-size:1.2vw;
    font-family:Poetsen One;
    z-index:1;
    position:relative;
    margin-top:2px;
}

.submenu1, .submenu2 {
    margin-top:15%;
    width:150%;
    height:0px;
    background-color:#4d4d4d;
    border:solid 2px #808080;
    border-radius:10px;
    display:none;
}

.subbutton {
    display:flex;
    text-align:center;
    font-family:Poetsen One;
    font-size:1vw;
    margin:auto;
    padding-top:5px;
    justify-content:space-evenly;
    flex-direction:column;
    word-break:break-all;
    text-decoration:underline;
    text-decoration-color:#ffffff;
    text-decoration-style:dotted;
}

.header {
    font-family:Poetsen One;
    font-size:3.6vw;
    text-align:center;
    width:100%;
    margin:auto;
    padding-top:100px;  
    position:relative;
    z-index:-1
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: auto;
    padding: 8vh;
}

video {
    position:relative;
    z-index: 4;
    max-width: 90%;
    object-fit: cover;
    margin: 0;
    padding-left: 10px;
}

.custom-shape-divider-top-1715390022 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index:-1;
}

.custom-shape-divider-top-1715390022 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 185px;
}

.custom-shape-divider-top-1715390022 .shape-fill {
        fill: #000000;
}

.custom-shape-divider-top-1715390794 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index:-2;
}

.custom-shape-divider-top-1715390794 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 321px;
}

.custom-shape-divider-top-1715390794 .shape-fill {
    fill: #414141;
}