html {background-color:#272727;}

html, body {
    width:100%;
    height:150%;
    font-size:16px;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

a {
    color:#000000;  
    text-decoration:none;
}

.navbar {
    width:100%;
    height:5.4vh;
    position:absolute;
    overflow:hidden;
}

.navbar-center {
    display:flex;
    width:70%;
    height:100%;
    float:none;
    position:relative;
    top: 50%;
    left: 50%;
    border-radius:100px;
    transform: translate(-50%,-50%);
}

.navlinks, .navlinks-left, .navlinks-right {
    display:grid;
    place-content:center;
    opacity:0.6;
    transition: opacity .4s ease-in-out;
    margin:auto;
    flex-flow:row;
    z-index:1;
    background-color:#636363;
    height:100%;
    width:20%;
    font-size:5.4vh;
}

.navlinks-left {
    background-color:#808080;
    border-start-start-radius:100px;
    border-end-start-radius:100px;
}

.navlinks-right {
    background-color: #808080;
    border-end-end-radius: 100px;
    border-start-end-radius: 100px;
}

.navlinks:hover, .navlinks-left:hover, .navlinks-right:hover {
    opacity: .9;
    background-color: #ffffff;
    transition: opacity .4s ease-in-out;
    
}

.navbutton {
    width:100%;
    height:100%;
    word-wrap:break-word;
    text-align:center;
    font-size:1.2vw;
    font-family:Poetsen One;
}

.header {
    font-family:Poetsen One;
    font-size:3.6vw;
    text-align:center;
    width:100%;
    margin:auto;
    padding-top:100px;
}

ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    margin:auto;
    padding:8vh;
}

video {
    max-width:90%;
    object-fit:cover;
    margin:0;
    padding-left:10px;
}









.custom-shape-divider-top-1715390022 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index:-1;
}

.custom-shape-divider-top-1715390022 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 185px;
}

.custom-shape-divider-top-1715390022 .shape-fill {
        fill: #000000;
}


.custom-shape-divider-top-1715390794 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index:-2;
}

.custom-shape-divider-top-1715390794 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 321px;
}

.custom-shape-divider-top-1715390794 .shape-fill {
    fill: #414141;
}